.Footer {
  display: flex;
  justify-content: space-between;
  padding: 4rem 10rem;
  margin-top: auto;
  background-color: var(--black);
}

.Footer-links {
  grid-area: links;
  list-style: none;
  text-transform: uppercase;
}

.footer-link > a {
  text-decoration: none;
  font-weight: 500;
  color: var(--white);
  position: relative;
  outline: none;
}

.footer-link > a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background-image: var(--prm-gradient);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.footer-link > a:hover::after,
.footer-link > a:focus::after {
  opacity: 1;
}

.Footer-main {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr max-content;
  grid-template-areas:
    "logo links"
    "social links";
}

.footer-link + .footer-link {
  margin-top: 1rem;
}

.sec-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.copyright {
  margin-top: auto;
  color: var(--grey);
}

@media (max-width: 1100px) {
  .Footer {
    padding: 4rem 2rem;
  }

  .Footer-main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "links"
      "social";
    gap: 2rem;
  }

  .Footer-links {
    display: flex;
  }

  .footer-link + .footer-link {
    margin: 0 0 0 1.5rem;
  }
}

@media (max-width: 750px) {
  .Footer {
    flex-direction: column;
    justify-content: center;
  }

  .Footer-main {
    width: 100%;
    justify-items: center;
    grid-template-areas:
      "logo"
      "social"
      "links";
  }

  .Footer-links {
    flex-direction: column;
    align-items: center;
  }

  .footer-link + .footer-link {
    margin: 1rem 0 0 0;
  }

  .sec-footer {
    align-items: center;
    margin-top: 5rem;
  }

  .copyright {
    margin-top: 1.5rem;
  }
}
