.Story {
  position: relative;
  transition: transform 200ms ease;
}

.Story::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 10px;
  background-image: var(--prm-gradient);
  transition: width 300ms ease;
}

.Story:hover {
  z-index: 1;
  transform: translateY(-2rem);
}

.Story:hover::after {
  width: 100%;
}

.Story > img {
  display: block;
  width: 100%;
}

.Story-citation {
  position: absolute;
  color: var(--white);
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem 2rem 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.Story-citation > * {
  text-shadow: 5px 2px 2px var(--black);
}

.Story-citation > p {
  font-size: 0.85rem;
}

.Story-title {
  margin: 0.5rem 0;
}

.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  text-shadow: none;
  color: var(--white);
  font-weight: 400;
  letter-spacing: 2px;
  padding: 2rem 0 1rem 0;
  position: relative;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  height: 1.5px;
  top: 1rem;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--white);
}

.btn > svg {
  transform: translateY(2px);
  transition: transform;
}
