@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --prm-gradient: linear-gradient(
    26.57deg,
    #ffc593 0.42%,
    #bc7198 43.46%,
    #5a77ff 83.33%
  );
  --black: #000;
  --grey: #b8b8b8;
  --white: #fff;
  --dark-grey: #4e4e4e;
}

body {
  font-family: "DM Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
